<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <p>Address</p>
                <ul>
                    <li>300 Burn Rd Singapore</li>
                    <li>500 Terry Francois Street
                        San Francisco, CA </li>
                </ul>
            </div>
            <div class="col">
                <p>Opening hours</p>
                <ul>
                    <li>
                        Mon - Fri: 7am - 10pm
                    </li>
                    <li>
                        Saturday: 8am - 10pm
                    </li>
                    <li>
                        Sunday: 8am - 11pm
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h3><img src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/000/163/original/delivery.png"> WE DELIVER UNIVERSALLY ..!!!</h3>

</footer>